body {
    display: flex;
    flex-direction: column;
}

.header,
.info.one {
    background-color: #1F2937;
    color: white; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: lightgray;
}

.info.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info.two {
    display: flex;
}

.quote {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}